.loggedinuser
{
	color: #777777;
    line-height: 50px;
    font-size:16px;
	align:right;
	position:relative;
	font-weight:bold;
	color:black;
}

.title
{
	color: #777777;
    line-height: 50px;
    font-size:18px;
	left:50%;
	position:relative;
}

.borderless td {
    border: none;
    border-top:none;
}

.userinformation {
	position:relative;
	width:80%;
	left:10%;
	right:10%;
	
	
}

.footer{
	    border-top: 1px solid #888888;
    color: #000000;
    font-size: 8pt;
    height: 30px;
    padding: 10px 0;
    text-align: right;
}